* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  margin: 1em;
  display: flex;
  margin-bottom: 5em;
  padding: 1em, 2em;
}
.infor {
  display: flex;
  margin-top: 4em;
  width: 100em;
  padding-right: 5em;
  padding-top: 10em;
}
p {
  margin-top: 3em;
  align-items: center;
  display: flex;
  padding-left: 1em;
}
.s-speaker {
  display: flex;
  margin-top: 4em;
  width: 100em;
  padding-right: 5em;
  padding-top: 10em;
}
